<div class="container">
    <div class="row">
        <div class="col-6">
            <br><br><br><br><br><br><br><br><br><br>
            <br><br>
            <h1>Daily Reminder<br></h1>
            <h2>Keep track of your daily activities</h2>
            <br>
            <button class="btn btn-outline-warning me-3 " routerLink="login">SignIn</button>
            <button class="btn btn-outline-warning " routerLink="register">SignUp</button>
        </div>
        <div class="col-6">
            <img src="\assets\top-view-hand-alarm-clock.jpg">
        </div>
    </div>
</div>
